@import "../variables.scss";

.work-content {
  margin-top: 100px;
  & img {
    align-items: center;
    width: 800px;
    filter: grayscale(100%);
    transition: all 0.4s linear;
    border-radius: 16px;
  }

  & img:hover {
    align-items: center;
    width: 800px;
    filter: none;
    box-shadow: 0 0 20px 5px #243e66;
  }

  &-title {
    color: $green;
    font-size: 32px;
  }

  &-desc {
    color: $color-text;
  }
}
