$green: #64ffe5;

$secondary-green: #07e36e;

$terciary-green: #d8f5e5;

$primary-blue: #0a192f;

$color-text: #ccd6f6;

$black: #272727;

$grey: #838383;

$title: 48px;

$paragraph: 24px;

$title-component: 36px;

$title-paragraph: 12px;

$button: 16px;

$typo: "M PLUS 1 Code";
