@import "../variables.scss";

.footer {
  text-align: center;
  margin-top: 100px;
  margin-right: 175px;
  padding: 10px;
}

.icons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

@media (max-width: 1528px) {
  .footer {
    text-align: center;
    margin: 100px 80px 20px 0;
    padding: 0px;
  }
}

@media (max-width: 700px) {
  .footer {
    width: 100%;
    margin-top: 100px;
    padding: 0px;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 5px;
    & svg {
      width: 30px;
    }
  }
}
