@import "../variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $typo;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 20px 10px $primary-blue;
  height: 80px;

  & .header-logo {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 154px;

    & h2 {
      color: $green;
      font-weight: 700;
      font-size: 40px;
    }
  }

  & .header-nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 175px;
    align-items: center;

    & a {
      text-decoration: none;
    }
  }

  & .home {
    color: $color-text;
    font-weight: 400;
  }

  & .home:hover {
    transition: all 0.2s linear;
    color: $green;
    font-weight: 400;
  }

  & .menu {
    color: $color-text;
    font-weight: 400;
  }

  & .menu:hover {
    transition: all 0.2s linear;
    color: $green;
    font-weight: 400;
  }
}

@media (min-width: 834px) {
  .burguer {
    display: none;
  }
}

@media (max-width: 700px) {
  .header {
    & .header-logo {
      display: flex;
      align-items: center;
      gap: 24px;
      padding-left: 20px;
      z-index: 100;

      & h2 {
        color: $green;
        font-weight: 700;
        font-size: 40px;
      }
    }
    .header-nav {
      & ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
        width: 100%;
        height: 100vh;
        transition: 0.3s ease all;
        margin: 0px;
        padding-left: 0;
        right: -1000px;
      }
      & .responsive_nav {
        right: 0;
        z-index: 99;
      }
    }
  }
}

@media (max-width: 1512px) {
  .header {
    & .header-logo {
      padding-left: 80px;
    }

    & .header-nav ul {
      margin-right: 80px;
    }
  }
}
